/* Ci-dessous : CSS media queries */

/* 1: max-width */
@media screen and (max-width: 640px) {
	.small {
		background: green;
		color:#fff;
	}
	.regles_général span.regle1 {
		display: block;
	}
}


/* 2: min-width */
@media screen and (min-width: 800px) {
	.medium {
		background: red;
		color:#fff;
	}
	.regles_général span.regle2 {
		display: block;
	}
}


/* 3: min-width + max-width */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.wide {
		background: blue;
		color:#fff;
	}
	.regles_général span.regle3 {
		display: block;
	}
}


/* 4: max device width */
@media screen and (max-device-width: 480px) {
	.maxdevice {
		background: yellow;
		color:#fff;
	}
	.regles_général span.regle4 {
		display: block;
	}
}


/* 5: orientation:portrait */
@media screen and (orientation:portrait) {
	.portrait {
		background: orange;
		color:#fff;
	}
	.regles_général span.regle5 {
		display: block;
	}
}


/* 6: orientation:paysage */
@media screen and (orientation:landscape) {
	.paysage {
		background: green;
		color:#fff;
	}
	.regles_général span.regle6 {
		display: block;
	}
}


/* Styles généraux */
body {
	font-family:Sans-serif;
	font-size:100%;
	background:brown;
}
a {
	color:#369;
}
div, p, h1 {
	padding: 0.5em 1em;
	margin: 1em;
	color:white;
	line-height:150%;
}
p {
	color:#000;
	background:#fff;
}
.regles_général span {
	color: white;
}
h1 {
	padding:0;
	color:red;
	margin-bottom:0;
}